* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background:antiquewhite;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-container {
    background: white;
    padding: 2rem;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .counter {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: #555;
  }
  
  .input-section {
    display: flex;
    gap: 0.5rem;
  }
  
  input {
    flex: 1;
    padding: 0.5rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    background-color: #6c63ff;
    color: white;
    border-radius: 5px;
  }
  
  ul {
    list-style: none;
    margin-top: 1rem;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
  }
  
  li span {
    cursor: pointer;
  }
  
  li.completed span {
    text-decoration: line-through;
    opacity: 0.6;
  }
  
  li button {
    background: red;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    cursor: pointer;
  }
  